[2018-11-13 03:06] TeamDman opened #1 "Block gate drops items rather than placing them"

[2018-11-13 03:06] TeamDman opened #2 "Add tooltips to items"
Provide basic cable descriptions in the form of tooltips.

[2018-11-20 23:29] MarcoRauscher opened #3 "Block Gate facing wrong direction after placing"
When placing a Block Gate in the world, it's front side is always facing DOWN without any ability to change this.

![image](https://user-images.githubusercontent.com/3008859/48809305-61c97b80-ed24-11e8-9902-f0c988d2c5f1.png)

I've last played with SFM in 1.7.10, but I think the block's front should, after placement face the player?

[2018-11-21 04:25] #3 closed, assigned to nobody

[2018-11-21 09:26] MarcoRauscher commented on #1
Where do you get this issue? For me block placement is working fine, at least in the sense of "it works the same as in 1.7.10". Do you want to rewrite block placement logic for the block gate? If so, I could help.

[2018-11-21 14:15] Saereth commented on #1
I tested this as well and didnt have any problem with this. placed blocks fine

[2018-11-21 15:43] MarcoRauscher commented on #1
I just recognized that it's not consistent and indeed not working correctly sometimes.

I placed the block gate so that the front side is opposite of the facing side. Thus the block should be placed against the block gate itself. Then I set up a simple system:
` chest -> machine inventory manager -> block gate`

Tested 2 programs:
`Trigger -> Input (exactly 1 cobblestone from chest) -> Output (exa

[2018-11-21 20:46] MasterEnderman opened #5 "Crash when using a auto crafting task"
Crash-Report: https://pastebin.com/s5Q2n1gQ

[2018-11-22 16:37] #5 closed, assigned to TeamDman

[2018-11-22 16:44] TeamDman opened #6 "Update readme"

[2018-12-02 08:33] epeterse opened #7 "Input and output not respecting specified quantities"
Input/output specify amount not working

![2018-12-02_09 38 19](https://user-images.githubusercontent.com/12971388/49337602-1bbec280-f616-11e8-931b-04d592c9d587.png)
![2018-12-02_09 38 39](https://user-images.githubusercontent.com/12971388/49337603-1bbec280-f616-11e8-93e3-5f9c183be4fd.png)
![2018-12-02_09 38 44](https://user-images.githubusercontent.com/12971388/49337604-1bbec280-f616-11e8-94c2-31

[2018-12-07 12:08] fantasigible001 opened #8 "Redstone Receiver Broken"
Placing a lever or pressure plate near the Redstone Receiver that is connected to the main controller block (I forgot the name, sorry) will work normally, but sometimes the lever that is in my inv(creative mode) disappears and right clicking the lever or stepping on the pressure plate will take longer time to trigger, as if it's lagging. Sometimes while i do it the game crashes.

The Main Controll

[2018-12-07 14:48] larskr96 opened #9 "Drawers and factory manager overfilling (bug)"
The manager moves items to the drawer even if the drawer is full

[2018-12-07 19:38] larskr96 commented on #9
1 more thing it voids every single other item that you take in to the Storage drawer With it

[2018-12-07 21:04] TeamDman commented on #8
Could not reproduce.
Please provide screenshots of both the in world cabling and the manager gui.

My working setup
![image](https://user-images.githubusercontent.com/9356891/49672545-81a5b280-fa39-11e8-800a-74fb8299a355.png)
![image](https://user-images.githubusercontent.com/9356891/49672620-b580d800-fa39-11e8-8aaa-d6564031fc18.png)

[2018-12-07 21:33] #7 closed, assigned to TeamDman

[2018-12-17 23:21] Emperorraccoon opened #10 "Re-usable items consumed in crafting (Excess inventory not working)"
As the title says, i am currently attempting to auto craft "Mochi" from pam's. after the mochi is crafted both the bucket and the mortar and pestle dissapear, they do not appear in the specified excess inventory (A vanilla chest).  Trying to output them does not work either.

[2018-12-19 17:28] enderger commented on #10
Does this apply to fluid-filled bucket recipes?

[2018-12-20 04:27] Emperorraccoon commented on #10
Yes, A water bucket is used in the recipe and is then not returned, however the mortart and pestle is not returned either

[2018-12-20 15:10] TeamDman commented on #10
Probably related to an issue I had crafting cactus juice earlier, some internal error caused forge to delete the block rather than crashing the server.

[2018-12-21 21:38] TeamDman commented on #9
Looks like StorageDrawers operate using a virtual itemslot to as a buffer between its 'real' inventory and the 'normal' inventory that minecraft operates with, most likely missed some slot item insertion validity checks when adapting SFM to use capabilities. Fix should be reasonably straightforward.

[2018-12-23 05:14] #9 closed, assigned to TeamDman

[2018-12-26 02:45] #10 closed, assigned to TeamDman

[2018-12-28 02:44] ab9rf opened #11 "Suggestion: allow fluid operations to specify a specific tank"
Many machines have multiple tanks, which are identified by numbers the same way that item inventories are identified by slots. It would be useful if the advanced mode for fluid operations would allow the specification of a specific tank or tanks in the same way that item operations can specify a slot or slots to be used.

[2018-12-28 02:47] HenryLoenwind commented on #11
While the fluid API lets you query a list of tanks, neither fill nor drain methods take a "tank number" parameter. You only can specify which fluid you want to get or fill in.

[2018-12-28 22:08] MIlkyBlast opened #12 "Game is crashing from moving item's at all"
From one chest to another .

[2018-12-28 22:49] MIlkyBlast commented on #12
from the latest version

[2018-12-29 05:27] ab9rf opened #13 "Crash after inserting a redstone receiver"
Server crashed (IndexOutOfBoundsException while ticking block entity) after replacing an inventory cable with a redstone receiver. Server crashed again on restart.

Crash reports are attached.

[crash-2018-12-28_23.16.50-server.txt](https://github.com/TeamDman/SuperFactoryManager/files/2716078/crash-2018-12-28_23.16.50-server.txt)
[crash-2018-12-28_23.19.32-server.txt](https://github.com/TeamDman/

[2018-12-29 08:57] #12 closed, assigned to TeamDman

[2018-12-29 08:57] #13 closed, assigned to TeamDman

[2018-12-29 08:59] TeamDman commented on #13
Presumably the same issue as #12, should be good now.

[2018-12-29 09:10] TeamDman commented on #11
Henry seems to have summed it up pretty well, filtering by fluid type is already in and should be enough to imitate this behaviour.

[2018-12-29 09:10] #11 closed, assigned to nobody

[2019-01-06 14:52] Willsr71 opened #14 "Server startup crash on version 2.0.6 with ClassNotFoundException"
On startup the server crashes with version 2.0.6 with the exception `ClassNotFoundException: vswe.superfactory.util.SearchUtil`
Version 2.0.5 works perfectly fine.
 [Crash Report](https://hastebin.com/olenuletih.rb)

[2019-01-06 19:13] TeamDman commented on #14
I left some annotations where they shouldn't be, will be fixed with a new build on CF when I close this issue

[2019-01-06 19:16] #14 closed, assigned to nobody

[2019-01-15 00:33] Willsr71 opened #15 "Client Crash when invalid regex is entered into search field"
When searching for items in the whitelist/blacklist and an invalid character is entered, in this case "[", the client crashes.

[Crash report](https://hastebin.com/oqaranuzeq.rb)

[2019-01-15 03:11] Willsr71 opened #16 "Server Crash when using block gate in cable cluster"
When using this setup with block gates in cable clusters, the server crashes as long as there are items in the input chest. ![image](https://i.imgur.com/2J4kv0Y.png)

When the server crashed there was a stack of wood and stone in the input chest, however on startup the chest was empty. Not really sure what happened with that one.

[Crash report](https://hastebin.com/apupozesaf.pl)

[2019-01-15 04:18] Willsr71 opened #17 "Duplication bug"
![demonstration](https://i.imgur.com/BrQZCsK.gif)

The setup: ![block setup](https://i.imgur.com/JQoBv6t.png)
![manager](https://i.imgur.com/EMDuugH.png)

Both input and output are the exact same setup, inventory as the storage crate, active side is the top, and empty blacklist.

[2019-01-19 05:04] #15 closed, assigned to TeamDman

[2019-01-20 19:57] TeamDman commented on #16
It looks like cable cluster crafting is actually broken as well, can you elaborate on how you obtained them in the first place?

[2019-01-21 14:57] Willsr71 commented on #16
Crafting empty cable clusters and then combining them with another block gets you the cluster with the block
![](https://i.imgur.com/2xS6dKt.png)
![](https://i.imgur.com/vTy4a86.png)
You cannot add any other blocks after creating the cluster, and you cannot create a cluster with regular inventory cable.

[2019-01-27 07:18] #16 closed, assigned to TeamDman

[2019-01-27 07:20] TeamDman commented on #16
The hastebin expired, but the crash was related to the blockstates not transfering properly between the Cluster facing property and the Blockgate facing property.
There's a lot of duct tape going on right now, but should be working.

[2019-01-27 14:31] baka943 opened #18 "Can't display block icon/name"
The block is Block gate
![2019-01-27_22 17 42](https://user-images.githubusercontent.com/25032577/51802259-25b21a00-2283-11e9-99e4-b6cb51f6a801.png)

[2019-01-28 02:34] #17 closed, assigned to TeamDman

[2019-02-12 21:28] TheonlyTazz opened #19 "[Bug] multiple redstone recievers in a row not recognized by Manager"
![image](https://user-images.githubusercontent.com/3908847/52669054-7bd6bc80-2f15-11e9-9812-7dc8b93ca23b.png)
Trying to hook up multiple recievers in a row but only the first gets recognized

edit:
yes i know those are redstone emitters, but neither work in a row
![image](https://user-images.githubusercontent.com/3908847/52669335-22bb5880-2f16-11e9-8272-5de3e7dae31d.png)

![image](https://user-ima

[2019-02-12 22:02] TheonlyTazz opened #20 "Crashing after breaking Inventory cable connecting reciever to Manager"
https://pastebin.com/ncc86xEk

from my setup i showed earlier:
https://github.com/TeamDman/SuperFactoryManager/issues/19

after breaking the cable above the Manager i crashed

[2019-02-15 22:24] TeamDman commented on #19
Likely the same as #18

[2019-02-15 22:58] TeamDman commented on #19
Any non-basic cable blocks are terminators in a cable chain, the exception being cable clusters, which can be crafted with cables to allow them to carry a signal. The GUI not recognizing the first one is still an issue

[2019-02-16 07:50] #20 closed, assigned to TeamDman

[2019-02-16 07:50] #18 closed, assigned to TeamDman

[2019-02-16 07:50] #19 closed, assigned to TeamDman

[2019-02-16 07:51] #8 closed, assigned to TeamDman

[2019-02-18 16:23] GAsplund opened #21 "Side specific input/output not working in most cases"
Top on receiving inventory is set to input. Works fine using Ender IO item conduits, does not work using same inventory as input using SFM to output to top of same machine.

Tested and working to output to other inventories, but machines tested in question (Thermal Expansion Pulverizer, Redstone Furnace and Industrial Foregoing Black Hole Unit) will not receive nor send items.

(Interesting behavi

[2019-02-25 05:08] heiseshuishan opened #22 "The first time you join the game, the connection will time out."
I think I have encountered a mistake, he is not very serious, but I want to fix him https://paste.ubuntu.com/p/fMfNQT8jnQ/

[2019-02-25 07:58] TeamDman commented on #22
This is caused by SFM caching all the item tooltips (item names and descriptions) so that the search bar doesn't freeze the main thread later (a large item list is probably causing the timeout in this case). Will need to investigate methods to prevent building this cache from taking too long

[2019-03-12 16:36] LocalBoomer opened #23 "missing item in input filter"
I'm not sure if this is a bug or what but I cannot find solidified experience (from Actually Additions) in the Items whitelist.

MC 1.12.2
Actually Additions R140 (1.12.2)
SFM 2.0.9
Forge 14.23.4.2759

Edit 1: Seems I can't find anything from AA in the whitelist. Only buckets of AA fluids which I would assume are being registered differently?
Edit 2: Just restarted the pack after updating Refined

[2019-03-12 17:13] #23 closed, assigned to TeamDman

[2019-03-13 16:33] TeamDman commented on #23
The way SFM searches items is it caches the entire item list when you join a world. The most likely cause of this issue is that the pack you're using has a large quantity of items, and the thread that was busy caching hadn't gotten to Actually Additions yet.
Two solutions (for me to think about):
Cache the item list on load rather than on join (will slow down pack launch times)
or
Aggressively sea

[2019-03-13 16:42] LocalBoomer commented on #23
470~ mods, so yeah a lot of items (:

[2019-03-17 19:34] Kiefy commented on #21
I think I just discovered the same issue with Applied Energistics 2 Inscribers.  Inserting items is fine, but I can't get it to detect or extract the printed circuits.

I know the Inscriber is a bit finicky about which sides it wants to insert/extract from. AE2's Wiki states the output can be automated from any side, but just in case, I tried physically connecting the inventory cable to the right

[2019-03-22 01:04] #22 closed, assigned to TeamDman

[2019-03-22 07:02] TeamDman commented on #21
Fixed in https://github.com/TeamDman/SuperFactoryManager/commit/de245ed4176b1d54339313c2ec022ffae9487bea

New build going on CurseForge shortly

[2019-03-22 07:02] #21 closed, assigned to TeamDman

[2019-03-26 19:12] The-Key commented on #1
There are probably improvements to be made, but I don't believe it's bugged. Whitelisting one match all on the block gate makes it work nicely. 1 cobble and 1 dirt means that you are sending it two items and it can only 'hold' one. It sees its inventory as the result of breaking the block without silk touch. Nothing that I've seen while playing contradicts this video of its functionality: [Link](h

[2019-03-30 02:16] TeamDman opened #24 "Fluid insertion crash"
[code]
https://github.com/TeamDman/SuperFactoryManager/blob/2.0.X/src/main/java/vswe/superfactory/components/CommandExecutor.java#L688

[2019-04-02 02:59] TeamDman commented on #24
https://github.com/TeamDman/SuperFactoryManager/commit/3f48ccdebb58101dc2cbc2103ba1c4eacc987c7a

[2019-04-02 02:59] #24 closed, assigned to TeamDman

[2019-04-07 10:45] MarcoRauscher commented on #1
I have tested the first issue I described (1 skoothstone to block gate, e.g. for Botania Livingstone setup) in 1.7.10 and it works differently (as in correctly) compared to here. It should not spit out the additional smoothstone when a smoothstone is already placed by the gate.

[2019-04-07 13:30] LocalBoomer opened #25 "crash when searching openblock trophies in whitelist"
https://paste.dimdev.org/igugadorew.mccrash

Title says it all really

smf 2.0.11
forge 14.23.5.2824

[2019-04-07 15:42] TeamDman commented on #25
Hastebins expire, reupload on pastebin for posterity
https://pastebin.com/6SpS9qZr

Will investigate

[2019-04-07 16:06] TeamDman commented on #25
Everything in the stack trace indicates that the crash occurred when trying to link two nodes together, there's nothing about item search or search results. Do you know what types of components you were trying to link at the time?

[2019-04-07 16:20] LocalBoomer commented on #25
I had two inputs and two outputs to move items from a chest to an ME interface and I was adding openblocks' creeper trophie to the second input whitelist. connections were already made so I'm not sure why it says that.

Also ty for the hastebin tip

[2019-04-07 16:25] LocalBoomer commented on #25
let me know when the build goes live and I'll see if I can break it again :P

[2019-04-07 16:26] TeamDman commented on #25
https://minecraft.curseforge.com/projects/super-factory-manager/files/2696513
Processing now, should go live to that link

[2019-04-07 17:14] LocalBoomer commented on #25
No crashing now but the trophies come up blank, (no models just the base) are called 'trophy' not 'mobName trophy' and they aren't being pulled out correctly from the target inventory.

[2019-04-07 20:31] TeamDman commented on #25
Might need to set the NBT detection on the filter to fuzzy mode, not too sure about the render issue

[2019-04-07 21:51] LocalBoomer commented on #25
Pack I have it in keeps lagging out and I'm too tiresd to figure it out now but will check tomorrow, however, I believe the trophies are all separate items (not just metadata changes) so I don't think fuzzy mode would work however I may be completely wrong :P will will let know my findings.

[2019-04-08 19:36] LocalBoomer commented on #25
So I was wrong they are all NBT tagged with the mobs name 🤦‍♂️. Works fine with fuzzy nbt mode so you can mark this fixed. 👍

[2019-04-08 19:56] #25 closed, assigned to TeamDman

[2019-04-10 02:33] TeamDman opened #26 "Make sure search cache is only building once"
Might be causing issues

[2019-04-29 14:27] Caraxi opened #27 "Duplication glitch using redstone trigger"
Possibly related to #17 but with some more specific requirements for reproduction.

### Reproduction

Create the following layout of blocks using the Machine Inventory Manager, a redstone receiver and two inventories.
![Layout](https://i.imgur.com/aumkhc9.png)

The following instructions in the Machine Inventory Manager:

**Trigger**
- Connections: Redstone Controlled
- Restone Receivers: The reds

[2019-04-29 14:40] Kanzuke117 commented on #27
Executing this on a sever seems to cause a stackoverflow exception most of the time, an example below:

[code]
Last two lines are the first two of the next repeating block, which continues up till the 1024 stack limit

[2019-05-02 23:36] TeamDman commented on #27
Almost couldn't reproduce, but I had the output chests reversed.
The chests must be facing south, with the items going from the southmost chest into the western chest.
![image](https://user-images.githubusercontent.com/9356891/57113198-7ff2c900-6d11-11e9-8bc3-3638838b996b.png)
Working on a fix now

[2019-05-05 15:20] TeamDman commented on #27
![image](https://user-images.githubusercontent.com/9356891/57196076-51e6d200-6f27-11e9-9e56-f60bc822cbd8.png)
In depth analysis:
Pressing a button causes a neighborChanged, calls triggerRedstone, calls a command executor, moves items into the chest, chest marked dirty, chest comparator output recalculation, getWeakChanges called on the redstone input, calls triggerRedstone, loop

For now, I'm goin

[2019-05-05 15:22] TeamDman commented on #27
![image](https://user-images.githubusercontent.com/9356891/57196157-0c76d480-6f28-11e9-8f04-a222c4f20f27.png)
Looks fixed, pushing a build now.

Thanks for the report!

[2019-05-05 15:23] #27 closed, assigned to TeamDman

[2019-05-05 15:29] TeamDman commented on #27
Pushed, waiting approval
https://minecraft.curseforge.com/projects/super-factory-manager/files/2707558

[2019-05-22 20:08] Zxirl opened #28 "Output bug with certain inventories"
Mod v2.0.12 - FTB Interactions modpack

Attempting to output to a Cache (thermal expansion) or Barrel (Ender Utilties) works up 64 items and then stops attempting to move items, even though the mentioned storage blocks can contain 20,000 and 4096 items respectively.

[2019-05-24 10:13] BrockWS opened #29 "Can't load from Memory Disk"
FTB Interactions 1.7.0
Mod Version 2.0.13

When shift right-clicking on the manager with the disk it always rewrites to the disk instead of reading from the disk.

[2019-05-29 04:33] FallenEagle1 opened #30 "Connection time out"
This seems to be related to #22, but this time deals with chisel and bits, potentially the amount of information being passed to it. First couple loads of the game, sometimes just the first, the game will time out and put you back to the menu screen. In the log, this usually shows up: <details><summary> Log stacktrace </summary><p>
[code]
</p></details>

This is with using:
Forge: 14.23.5.236
SFM:

[2019-06-02 16:06] TeamDman commented on #30
Looks like chisels and bits are attempting to add `null` items to the `NonNullList` that gets filled with subitems. I'll add a `try` which should fix the issue. I'm not sure why it only didn't work sometimes but not others .-.

[2019-06-02 21:41] #29 closed, assigned to nobody

[2019-06-02 21:41] #30 closed, assigned to TeamDman

[2019-06-02 21:43] #28 closed, assigned to TeamDman

[2019-06-02 21:45] TeamDman commented on #28
Thanks for the feedback!
Some old logic was doing calculations to see how many items to insert, rather than just attempting the insertion and seeing what the inventory said was remainder. This fix should improve _interactions_ with other funky inventories as well.
New build on curseforge soon, it should also make it into the next Interactions update

[2019-06-03 01:58] RoloEdits opened #31 "Buildcraft Facade crash?"
It takes me to the "Connection Lost" Screen after trying to load a world. Im no expert so just ask me if you need anything else :)

its a single player world

version 2.0.14

On a retry to load the world I was able to.
https://pastebin.com/CARnEHBj

[2019-06-03 03:58] TeamDman commented on #31
Is this using the latest build? (2.0.14)

[2019-06-03 04:19] RoloEdits commented on #31
SuperFactoryManager-1.12.2-2.0.14.jar is what I have installed

[2019-06-04 03:56] TeamDman commented on #31
Hm. That's not good, seeing as I added a try-catch to the cache builder on that version. Will look into it

[2019-06-04 21:42] mivalsten opened #32 "Setting item filtering is hard"
Hi,
Could you add better search for allow/deny lists? As of now, when I wanted to allow output of smooth stone, I had to scroll through 2400 items, because for some reason even andesite and all of it's chisel/chisel and bits versions were there.
![image](https://user-images.githubusercontent.com/8068803/58915891-5834bd80-8722-11e9-936f-f567ade0e714.png)
Best regards,
Greg

[2019-06-05 22:51] TeamDman commented on #32
There is a `.inv` search selector which might help, but I agree that the search is annoying to work with when decoratives like chisels and facades pollute the item pool. For now I'll look into giving vanilla blocks a higher priority in the search results

[2019-06-05 23:28] TeamDman commented on #31
Can't seem to reproduce. Full mod list?

[2019-06-05 23:56] #26 closed, assigned to TeamDman

[2019-06-05 23:56] #32 closed, assigned to TeamDman

[2019-06-06 00:03] TeamDman commented on #32
Search improvements implemented!
- Search (still) supports regular expressions
- Search now has 2 mappings per stack, one for just the display name, and one for the combined tooltip
  - this allows for more intuitive regex anchor usage
- Search now has ordered match results
  - Sort priority, highest to lowest
    - isVanilla
    - lowest difference between display name length and search query len

[2019-06-06 03:19] RoloEdits commented on #31
I think i did it right?

https://pastebin.com/rH7DqwtW

[2019-06-06 03:19] RoloEdits commented on #31
I just tested again and got the crash again, is there a place I could post my whole log for you to see? Not sure if that would help

[2019-06-06 06:43] RoloEdits commented on #31
Not sure if related, but now It seems to show Tinkers as a problem now. This should be the latest build as of now. SuperFactoryManager-1.12.2-2.0.15.jar

https://pastebin.com/5JxuCQRf

[2019-06-06 23:01] MRuth opened #33 "Clusters Not Working With Double Sided & Transforming Camouflage"
It does not appear that you can add a Double Sided or a Transforming Camouflage block to a Cable or Advanced Cable Cluster.  The normal Camouflage Cable can be added though.

[2019-06-07 04:25] TeamDman commented on #33
General note: I'm pretty sure that normal cable clusters originally couldn't have the double sided or advanced cables either.

The advanced cluster, however, should be able to.

Will look into it!, thanks!

[2019-06-08 00:55] #33 closed, assigned to TeamDman

[2019-06-08 00:56] TeamDman commented on #33
I think I misremembered the cluster thing.
You could (and still can) use camouflages on normal clusters, however, only advanced clusters still function as cables. That's why people would always use advanced clusters with the camouflages, to hide/decorate their cables while maintaining functionality.

[2019-06-08 02:47] #31 closed, assigned to TeamDman

[2019-06-08 22:59] TeamDman opened #34 "Verify oredict regex works"

[2019-06-14 21:55] SimonSoby opened #35 "CPU spike"
Using the lastest version, when ever i try to crate anything within the inventory manange, i can here my cpu fan start spinning up, and CPU usage sky rises, and if the game survives it will at the end create the trigger in the inventory mananger. But when trying to crate an input the same thing happens

[2019-06-14 21:58] SimonSoby commented on #35
Playing on the latest version of FTB Revelation, with a few extra mods added
![Screenshot_1](https://user-images.githubusercontent.com/25232087/59541139-51673100-8f00-11e9-83d5-05d1e55dbb55.png)

[2019-06-17 02:57] tgstyle opened #36 "Creating a Trigger in GUI on server issue"
See the Gist from the server log. The Trigger does not show up until exiting and re-opening the GUI. Also cannot create any other commands.

Using 1.12.2-2.0.17

https://gist.github.com/tgstyle/dd746fa343c27a003b95c8f66486195d

[2019-06-17 11:29] MatthewSmit opened #37 "Unable to find GregTech dust in Item filter"
As in the title, attempting to add any of the gregtech dusts using the item filter fails. Most items seem to be there, but not these ones. I don't believe it's related to #23 as I waited a while for caching to finish after joining the map.

As a workaround, what about being able to select an item from your inventory when selecting item filters, similar to how it works in many other mods (applied e

[2019-06-18 05:12] TeamDman commented on #37
Likely an issue with the way gt handles meta item registration. In the mean time, there is already a way to search your inventory using `.inv` as the search.

[2019-06-18 05:14] MatthewSmit commented on #37
Just enough items does pick the items up, so presumably there is some difference between how SuperFactoryManager and JEI scan for items.

[2019-06-20 02:13] #35 closed, assigned to TeamDman

[2019-06-20 02:13] #37 closed, assigned to TeamDman

[2019-06-20 02:15] TeamDman commented on #37
Updated search index to just copy JEI's ItemStack list if it's present.
New build up on CurseForge

[2019-06-20 02:17] TeamDman commented on #35
Presumably, component item lists aren't being rendered lazily. This means that every component with an item picker was calling the search method when you opened the interface.
Making the components lazy is beyond the effort I want to put in for now, so instead I've made the default background search much better.
If there's still performance issues, please let me know!

[2019-06-20 02:40] TeamDman commented on #36
Not too sure what could have caused this. Might be fixed in recent update?

[2019-06-20 02:52] tgstyle commented on #36
Latest update has no change. Still cannot create any commands when on a server.

[2019-06-26 15:15] AYuPro opened #38 "Limited number to specifi amount of liquids."
Many other mods can store more then 999 buckets of liquids, but in fluid filter maximum is 999 buckets, adding several filters (900 buckets + 900 buckets) din't work.

[2019-06-27 02:59] TeamDman commented on #34
https://github.com/TeamDman/SuperFactoryManager/commit/3c96ed766c733c26460709acd7e9c434b91448aa

[2019-06-27 02:59] #34 closed, assigned to TeamDman

[2019-06-27 03:37] #38 closed, assigned to TeamDman

[2019-06-27 04:47] #36 closed, assigned to TeamDman

[2019-07-07 01:15] rascalBurritos-zz opened #39 "Server Crash/ World Breaking"
[crash-2019-07-06_20.01.23-server.txt](https://github.com/TeamDman/SuperFactoryManager/files/3365180/crash-2019-07-06_20.01.23-server.txt)

I attempted to create an input then the server crashed.

[2019-07-09 01:45] TeamDman commented on #39
Does this still happen after relaunching and using the latest build?
Latest at this time:
https://www.curseforge.com/minecraft/mc-mods/super-factory-manager/files/2731217

[2019-07-09 03:16] Proha5 opened #40 "Settings not saved"
Sorry for bad english.

I set some checkboxes in user preferences.
Reload world. And all checboxes is unchecked.

[2019-07-09 12:15] #39 closed, assigned to TeamDman

[2019-07-11 16:20] xJon opened #41 "Weird errors in log"
The mod seems to appear multiple times.
Log: https://pastebin.com/QB6sJDg6
Happened when loading world. In practice I might've timed out.

[2019-07-12 21:10] TeamDman commented on #41
Using latest build?
SFM builds its search index on first world load so the timing of the errors is understandable. In recent builds it should be ignoring them, but worst case scenario it just disconnects you the first time instead of crashing to desktop

[2019-07-13 13:11] xJon commented on #41
Yes I was using 2.0.19. The game indeed did not crash but it still might be annoying.

[2019-07-13 14:53] xJon commented on #41
Also, upon creating a new world, sometimes the game can time out because of the time it takes to index:
[code]
Some times it takes up to 35 seconds.

[2019-07-14 04:33] Proha5 opened #42 "Bug in "For Each Loop"."
Sorry for bad english.

Let create logic using loop:
Input 1 stone from chest A1. Output to chest B.
Input 1 stone from chest A2. Output to chest B.

I declarate 2 vars:
Var "white". (Chest A1 + Chest A2)
Var "Black".

Triggered by press button.
---->
ForEach(List: White, Element: Black.)
---->
Input from var: "black". Select white list. Count stones: 1.
---->
Output to chest B.

Try run.. and che

[2019-07-14 17:18] TeamDman commented on #41
The indexing process is performed in a separate thread and shouldn't affect connectivity. If it really is the indexing that's causing problems then I'll probably add a `sleep` call to lighten the performance impact

[2019-07-14 21:59] TeamDman commented on #40
Tested in singleplayer on the same world, after creating a new world, and on a server. Each time the settings persisted. Can you give exact steps for reproduction?

[2019-07-15 01:32] xJon commented on #41
I will do a bit more testing with this big pack I'm using.

[2019-07-15 01:45] TeamDman commented on #42
I think the issue is happening because that when an input or output is set to 'blacklist', if there is a stacksize specified then it will still move items. I think the intention was that you could use the blacklist as a way to 'keep X items in here', but it seems to be broken.

For me, this kind of setup is working as expected
![image](https://user-images.githubusercontent.com/9356891/61192184-851

[2019-07-15 20:19] motorist828 opened #43 "Cloning things"
I found that you can clone things using the IndustrialCraft 2 oven.
Maybe it also works with other machines in a similar way.
Is it possible to expect a fix in modest time?
https://youtu.be/kT3vsPRbdzk

[2019-07-16 00:50] TeamDman commented on #43
Things in general have been acting a little wacky with quantity specifiers. Looking into it

[2019-07-16 01:13] motorist828 commented on #43
bug works with crafting
The bug also appears on the server
Perhaps this is due to other mods.

![Screenshot_37](https://user-images.githubusercontent.com/40582999/61258806-0bf88680-a780-11e9-837d-8d25595a6f3b.png)

https://youtu.be/t7OA6Ib0IkM

[2019-07-16 10:29] Proha5 commented on #42
Not. I never use black list with specify amount.
The issue appear with "output" with empty filter (empty black list), no specify amount. "Input" have white list.

My settings in "foreach":
Input = White list: Stone. Amount: 1.
Output = Empty black list. (output any items, any amount)
You tried this setting? This settings should reproduce bug.

I simulated loop no using foreach:
Input from chest-1.

[2019-07-18 00:41] #2 closed, assigned to TeamDman

[2019-07-18 00:41] #6 closed, assigned to TeamDman

[2019-07-18 02:35] #42 closed, assigned to TeamDman

[2019-07-18 02:40] TeamDman commented on #42
Should be fixed in latest build, up on curseforge now.
Thanks for the report!

[2019-07-18 03:49] Proha5 commented on #40
I play singleplayer.

My steps:
Open "User preferences" window.
Check "Automaticaly select empty black list" and "Automaticaly select one side for input/output"
Close the game. Run game. Load world. Open preferences. I see, that all checboxes is unchecked.

I open SuperFactoryManagerInside.dat (in config folder)
its contain only 3 bytes:
01 60 00 (HEX)

[2019-07-19 07:13] Proha5 opened #44 "Bug in "For Each Loop" 2"
the bug present only in v2.0.20.
v2.0.19 was forks fine.

Needs: Move resources to several chests. Using "for loop". (I know, SFM can it do without loop, but my real setup have extended logic)

Input(from source chest, empty black list.)
foreach(List var: Several destination chests; Element var: current)
output(to current, empty black list.)

Run. And SFM fill only 1 chest. Never outputed into oth

[2019-07-20 22:57] #44 closed, assigned to TeamDman

[2019-07-20 22:58] TeamDman commented on #44
With input empty blacklist
With output whitelist 10xstone
![image](https://user-images.githubusercontent.com/9356891/61584902-f8517500-ab1d-11e9-8d58-a5b1fbd9208d.png)
works
![image](https://user-images.githubusercontent.com/9356891/61584908-08695480-ab1e-11e9-8d46-ec6f81ff56c8.png)
doesn't work (bug)

Should be fixed now, pushing build to Curseforge

[2019-07-20 23:19] TeamDman commented on #43
I haven't been able to replicate this using latest (2.0.21) which is now on curseforge. Might have been fixed while fixing other things. If you could confirm that would be much appreciated!
Thanks for the reports!

[2019-07-20 23:31] motorist828 commented on #43
I tried the new version, the problem remains

[2019-07-20 23:51] motorist828 commented on #43
I tried the new version, the problem remains

[2019-07-21 00:11] motorist828 commented on #43
Now I have deleted all the mods, leaving only SFM, the problem is also
I created the world with this error. To get an error, you need to put the boards in the chest
https://drive.google.com/open?id=1U5voS_-xFKTY5rW3aDdSrta7U7sCbgs8

[2019-07-31 09:31] ozBillo opened #45 "Redstone Emitter block always showing the "weak" texture"
Redstone Emitter blocks always show the "weak" texture regardless of whether the sides are set to strong or weak.
Even when the block is idle it shows the weak texture.

[2019-08-09 19:18] UncleSam139 opened #46 "Not complete compatible with Ender IO"
If you use the Dimensional Transreceiver from Ender IO you only can send or receive items. It will not work with fluids and that's with a lot of other blocks of this and other mods.

[2019-08-17 13:20] zilvarwolf opened #47 "Unable to move nodes into command window on multiplayer"
FTB:Interactions 1.9.1 install, so 2.0.18.  Trying to build something in SFM and cannot create any nodes other than Group nodes in the command window while on a multiplayer server.  Clicking, dragging, right clicking, and profanity all have the same null effect.  On occasion, I've been able to get something like a flow node to show up but when I exit the SFM console and look later, it's almost alw

[2019-08-19 01:13] TeamDman commented on #47
Sounds like an issue that was brought by using a machine placed before the update to field lengths. Since the NBT parser changed the machine might need to be broken and replaced in the world. Unless you've already tried that and are still experiencing the issue?

[2019-08-19 21:17] zilvarwolf commented on #47
If that's the case, then I guess I'll have to wait until the next update to
Interactions, or update it manually.  There was no server update inbetween
my attempts to use the factory manager and the current version.  I have not
attempted to break and replace the block, but I can.

And I just tried that.  No change.  I did a break/replace and tried to drop
in a few nodes (2 triggers, 2 inputs, 2 out

[2019-08-29 17:56] MasterEnderman opened #48 "Index Out of Bounds Crash"
SuperFactoryManager: 2.0.21
Forge: 14.23.5.2838
Crash-Report: https://paste.dimdev.org/kotihofexi.mccrash

[2019-09-03 21:35] TeamDman commented on #48
Likely a result of numbers shifting when nbt version got bumped. Should be fixed on latest @ curseforge 2.0.22

Best option is to break and replace the offending manager so that the nbt resets

[2019-09-03 21:35] #48 closed, assigned to nobody

[2019-09-09 09:02] A-UNDERSCORE-D opened #49 "[Suggestion] JEI support akin to enderio"
Enderio filters allow you to click+drag from JEI to add items to filter slots without having to have the item. This would be a decent QOL improvement

[2019-09-10 10:07] HenryLoenwind commented on #49
IGhostIngredientHandler, btw. Quite easy to add.

[2019-09-10 12:54] TeamDman commented on #49
Would be interesting, hopefully I can get it to play well with the custom gui scaling that SFM uses. Will update here if/when implemented.

[2019-09-10 15:10] TeamDman commented on #1
For now, I agree that it seems to be working as intended. Documentation surrounding its behaviour is lacking,  which seems to be the main source of confusion for myself and others.
For now, the functionality will remain as it is. Using conditional filters or by specifying a quantity on the output block gate will prevent it from dropping items on the ground.

Fun fact: you can also use hoppers with

[2019-09-10 15:10] #1 closed, assigned to TeamDman

[2019-09-10 22:15] TeamDman commented on #40
Config dir is only specified after proxy init, so it isn't able to find the config. Not sure why I wasn't able to reproduce earlier.

https://github.com/TeamDman/SuperFactoryManager/blob/c894e26f44ffe069fe0ec0d1000b2573d4747fcb/src/main/java/vswe/superfactory/SuperFactoryManager.java#L46-L48

Will comment here once fix is posted.

[2019-09-11 03:14] #40 closed, assigned to nobody

[2019-09-11 21:22] TeamDman commented on #41
Closing as inactive

[2019-09-11 21:22] #41 closed, assigned to nobody

[2019-09-12 03:52] apmason13 opened #50 "Clear Camouflage not working"
Custom Modpack, ValkillaChaos, when setting clear camo on transforming cable camouflage or other camouflage blocks, clear camouflage does not work. Works for regular block camouflage.

[2019-10-05 03:27] manaphoenix opened #51 "Rapid Item Valve has improper translationKey after bring broken"
If you break the Item valve or rapid item valve it drops as "tile.null.name"
![image](https://user-images.githubusercontent.com/7843805/66249262-72959c80-e6fe-11e9-82b8-13ee6c713037.png)

[2019-10-05 03:29] manaphoenix opened #52 "Cable Cluster"
Breaking a cable cluster of any type results in no return.

Tried with:
CC + Redstone
CC + Block Detector

[2019-10-05 12:02] Snobux opened #53 "Setting item filtering enchantment request"
Can you, please, add the option to choose container with items in item White/Black list graphically, like in choosing container in "inventory" bar for programming. For example I put chest to the network, place items in that chest and in item white/black list filter, besides that typing box, there is displayed available in the network chests/inventories. Select chest and finally item. Maybe allow t

[2019-10-05 12:07] Snobux opened #54 "Inventory Cable recipe change request"
Inventory Cable recipe expensive, in original Steve's Factory Manager you get 8 Inventory Cables, here only 1. Lots of gold (4 ingots) and iron needed per cable, this is limit early game automation, when you need to connect distant things. Can you please make cheaper recipe, at-least as alternative in configs.

[2019-10-05 18:37] manaphoenix commented on #54
Not the author, but it is worth noting that this is only a regular crafting recipe and thus can be changed with CraftTweaker. :)

[2019-10-05 20:01] Snobux commented on #54
CraftTweaker good for modpack makers. If you play multiplayer modpacks it is not an option. Besides, even in singleplayer modpacks it is tedious to use, modpacks update and it is difficult to maintain your own changes. Finally, it is suggestion to improve mod, that would be beneficial for most/some players. I think, that programming/automation mods like this should not be crafting challenge mods,

[2019-10-11 05:05] Restingsound opened #55 "Machine Inventory Manager mismapped inventories and tanks."
Hello I'm playing on a server with FTB Interactions with SFM updated to version 1.12.2-2.0.23

I created a huge system over many days linking dozens of gregtech machines and Thermal Expansion portable tanks to create a beautiful automated factory.  However after a server reboot  yesterday 90% of my programs broke (i thought the reboot was the cause, a friend was also on for a couple hours after th

[2019-10-20 02:38] Claers commented on #55
Yup got this too, rly annoying !

[2019-12-08 05:04] clienthax opened #57 "High tick usage for getRecipe"
It seems that getRecipe currently uses a lot of tick time as it is called every crafting operation.
Would it be possible to cache the result of this for a decent speedup, as its unlikely the programs will be changed often?

![image](https://user-images.githubusercontent.com/1056270/70384557-18bc8780-1978-11ea-916e-9198c2d547aa.png)

[2019-12-12 03:23] Nonsanity commented on #55
I can confirm this bug. I have a setup that exists entirely inside one chunk—even all the blocks it connects to. Each day since I set it up, four of the program tiles have their inventory selections completely cleared, while all of the others are just wrong. Either inventories have been removed or they've been added. There's definitely something scrambling the associates of tile to inventory selec

[2020-05-19 17:35] TeamDman opened #58 "Crash to desktop adding fluid input"
https://hastebin.com/onujobulac.md
https://share.wildbook.me/mWsCDVqODX4bq0Mm.mp4
@SirQuacker

Migrating issue from https://github.com/FTBTeam/FTB-Interactions/issues/835

[2020-05-19 17:38] TeamDman commented on #58
Looks like an issue with the search box trying to call a client-side method on the server.
I'd suggest trying to break and replace the manager since that sometimes fixes issues, but in this case I doubt it would help. Will try and get a fix once off work.

[2020-06-06 23:45] CrimsonVengeance opened #59 "Can't place triggers or anything other than fluid inputs in the inventory manager, but fluid input freezes game."
Whenever I attempt to use the inventory manager, I can only place components from fluid input the options under it, and whenever I select a fluid input component, my game freezes permanently. I am on a server running FTB Interactions 1.9.1.

[2020-06-06 23:47] CrimsonVengeance commented on #59
The game doesn't always freeze permanently but stays frozen for several minutes, and afterward, creates the components I was originally trying to place, with garbled names.

[2020-06-07 21:06] TeamDman commented on #59
Breaking and replacing the manager may solve the issue.
Can you upload a log to pastebin?

[2020-06-08 19:49] CrimsonVengeance commented on #59
The game never CTD's just stays frozen, so I have to close the game myself. I don't think there are any logs to upload.

[2020-07-04 05:36] Cacoalpano opened #60 "Create infinity "blank slate" when i connect a "manager" with altar of blood magic mod"
WHen i use SFM  to create blank slate in minecraft 1.12.2  and I made it look like a video

https://www.youtube.com/watch?v=-sK_UCnCfjo&list=PLaiPn4ewcbkEC_hsSjPSqN8Mz3qWVC_MA&index=71

It create infinity blank slate

[2020-07-04 10:49] Saereth commented on #60
around 24 minute mark you'll see the start of direwolf's logic, its pretty straight forward though and this is easily reproducible and could probably impact a bunch of things @TeamDman

[2020-07-05 23:08] TeamDman commented on #60
Can't seem to reproduce ):
@Saereth can you confirm if you were able to reproduce, or just commenting on the situation?

@Cacoalpano If you could add a world download and a modlist with versions (including the SFM version) that would help

For reference, here is my attempt at reconstruction
[New World-.zip](https://github.com/TeamDman/SuperFactoryManager/files/4875901/New.World-.zip)

[2020-07-05 23:23] Saereth commented on #60
I was only commenting I will attempt to reproduce myself

On Sun, Jul 5, 2020 at 7:08 PM TeamDman <notifications@github.com> wrote:

[2020-07-15 15:56] Cacoalpano commented on #60
List mod of me:

 System Details --
  Minecraft Version: 1.12.2
  Operating System: Windows 10 (amd64) version 10.0
  Java Version: 1.8.0_251, Oracle Corporation
  Java VM Version: Java HotSpot(TM) 64-Bit Server VM (mixed mode), Oracle Corporation
  Memory: 3807098704 bytes (3630 MB) / 9375842304 bytes (8941 MB) up to 9375842304 bytes (8941 MB)
  JVM Flags: 3 total; -XX:HeapDumpPath=MojangTricksIn

[2020-07-15 16:04] Cacoalpano commented on #60
The problem occurs like link the video below.
I send 64 stone but i receive more than blank slate. I think it is a bug. I don't know the problem was caused by supper FactoryManager or Blood Magic.
Please you check again. @TeamDman
https://gofile.io/d/k3F8gg

[2020-07-29 21:28] Hachuurui commented on #57
I have noticed this issue as well. We have a single user on our server who setup one SFM setup to make food, and when its active, the server grinds to a halt. When I analyzed it, it was at 615kms. Stopping the SFM from running return the server to normal.

[2020-08-10 15:07] desagas commented on #55
I can confirm this issue as well. Two things cause a remap:

1. Restarting the server causes items to remap, any items like tanks, inv, redstone, etc, sometimes one or two physical locations off, sometimes completely random.
2. Sometimes adding or moving inventory cables cause the same thing to happen.

I have broken and replaced my managers, moved them, and copied settings and built new ones, and

[2020-08-10 18:31] Saereth commented on #55
while I have not personally experienced this I can definitely say several people have reported this

[2020-08-13 19:01] desagas commented on #55
Hello @Nonsanity, were you able to find any fix or something to avoid to solve to this issue?

[2020-08-20 20:07] desagas commented on #52
Can confirm!

[2020-08-20 20:12] desagas opened #61 "Cable Clusters with Emitter Forget Emitter"
Emitters in cluster cables disappear, the cluster remains, but the emitter vanishes.

I assume this is very much related to the mismapping issue listed in another issue post.

This can be recreated by doing one of two things, and is a chance, not a guarentee to happen, although extremely likely:
1. Restart the server.
2. Break any cable attached to the network of cables attached to the SFM.

Playi

[2020-08-20 20:15] desagas commented on #55
There are two ways to recreate this issue I have found: 1, restart the server. 2, break any cable attached to the network of cables attached to the SFM in question. In big setups, I have a dozen SFMs attached to one network for storage, that way I can issolate programming to a smaller number of machines. If I add a cable to the network for additional storage, almost all of the mismap. This is not

[2020-08-21 01:06] desagas commented on #55
Another way this happens, adding an inventory to the network, without altering any cables at all caused a lot of my storage and machines to remap. I did just restart my client, but I doubt that would have caused them to remap, given that neither my server nor its chunks reloaded.

[2020-08-31 05:12] thardy01 commented on #55
I take it there's still no fix for this?

[2020-08-31 16:23] BlueAgent commented on #55
A temporary work around is to right click on the factory manager before walking away from the chunk or saving the world / server restarting.
Doing this causes the factory manager to update the attached inventories and recalculate the internal IDs it uses.
If this isn't done before saving, when the manager is loaded, it'll map the IDs to the wrong inventories.

[I demonstrate the workaround and how

[2020-09-03 21:20] TeamDman commented on #55
https://www.curseforge.com/minecraft/mc-mods/super-factory-manager/files/3049126
Uploaded Blue's fix, hopefully this works.

Major thanks to Blue!

Will keep this issue open for a bit, please call back here telling if it does or does not fix the issue.

[2020-09-03 23:27] desagas commented on #55
Tried the update - I received this client side crash, running Interactions 2.0.9: https://pastebin.com/vdBVbh1K

[2020-09-03 23:36] desagas commented on #55
Here is the server side crash report: https://pastebin.com/VNTLtSXY

[2020-09-03 23:46] jimmy06200 opened #63 "Crash on launch"
net.minecraftforge.fml.common.LoaderExceptionModCrash: Caught exception from Super Factory Manager (superfactorymanager)
Caused by: java.lang.AbstractMethodError: Method vswe/superfactory/blocks/client/ModelLoader.func_110549_a(Lnet/minecraft/client/resources/IResourceManager;)V is abstract
    at vswe.superfactory.blocks.client.ModelLoader.onResourceManagerReload(ModelLoader.java)
    at net.mine

[2020-09-05 14:30] BlueAgent commented on #55
I think the uploaded jar was missing the reobfuscation step.

[2020-09-05 15:03] TeamDman commented on #55
https://www.curseforge.com/minecraft/mc-mods/super-factory-manager/files/3050275
This should have fixed the mapping issue, please call back if it does/doesn't work.

[2020-09-05 15:10] TeamDman commented on #63
Should be fixed in latest build
https://www.curseforge.com/minecraft/mc-mods/super-factory-manager/files/3050275
If still crashes, please comment back and this will be reopened.

[2020-09-05 15:10] #63 closed, assigned to nobody

[2020-09-05 17:31] jimmy06200 commented on #63
It's fix thank youLe 5 sept. 2020 17:10, TeamDman <notifications@github.com> a écrit :
Should be fixed in latest build
https://www.curseforge.com/minecraft/mc-mods/super-factory-manager/files/3050275
If still crashes, please comment back and this will be reopened.

—You are receiving this because you authored the thread.Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-09-05 22:23] desagas commented on #55
So far, first tests seem positive, no remapping even after chunk loading, restarting and changing dimensions. Once I have added all my managers, I will update, and let you know if it is still perfect. I am assuming it is.

[2020-09-05 22:31] desagas commented on #55
Okay, there is still a little error which I do not think may be the same issue, but an issue with the WIP Memory Disk. Copying from one manager to another mismaps the inventories, again.

[2020-09-06 03:44] desagas commented on #55
There is another repeatable mismapping error happening, and a few interesting mechanics, that happen every single time this is repeated:

Here is my set up, with storage in a different part of the world: https://imgur.com/a/hcljo3n

All images have a description explaining exactly what happens.

The most telling and very interesting is the very last image: when a conduit, in this example, a fluid

[2020-09-06 06:46] BlueAgent commented on #55
I didn't touch the memory disk in my PR. That likely needs to store the positions as well if I had to guess. Probably position relative to the manager instead of absolute position like what is currently saved to the tile. If you copy it from a manager, break and replace at the same position then paste to the same manager does it map correctly?

As for the conduit thing, that's pretty interesting.

[2020-09-08 04:05] desagas commented on #55
I’ll have to do some testing. I’ll let you know when I have had a chance. 👍

[2020-09-08 07:49] desagas commented on #55
Okay, I did some further testing:

1. WIP Copy: yes, it is a relative positioning, not absolute, issue. Copying and pasting to the exact same spot after breaking keeps the exact same map.

2. Conduits touching cables: every fluid conduit causes the shift of further SELECTED items in the line down by one, and removing the fluid conduit causes them to shift up one spot. This works on all axis, and o

[2020-09-08 08:14] desagas commented on #55
Okay, a setup with only enderio and sfm. The exact same thing happens. Here are the photos: I actually made them public this time, I think I forgot to hit post last time: https://imgur.com/a/Ehsacbd

[2020-09-08 08:31] BlueAgent commented on #55
For 1: Not sure what the desired behaviour is.
Should the mapping use the original positions of the tiles, or should it be relative to the new manager?
Currently if you paste with exactly the same setup (cables and tiles touching the cables relative to the manager) elsewhere, it should map over properly. This could still be improved by storing the relative positions though, so that you can miss so

[2020-09-08 09:20] desagas commented on #55
For 1, perhaps an option, like a shift clicking in the air to change between relative and absolute copy. I have several managers set up different production lines, separating the production from the storage, so they do not connect, except through the managers, absolute would be best, but, If I do an array of lets say lightwells from Astral Sorcery, and want to copy the array many times for many di

[2020-09-08 22:29] desagas commented on #55
This morning I started my server, and found that some inventories had been added to the managers, but none were removed. Unknown as to why this happened, I can not seem to duplicate it again.

Also, I found this a bit cumbersome, is this related to your merge?

When I broke a single SFM cable by accident, and then replaced it, every single linked inventory/emitted/etc that would have been down the

[2020-09-08 22:45] desagas commented on #46
Did you have fluid conduits touching the inventory cables? Do you remember?

[2020-09-09 00:06] desagas commented on #55
Yeah, after another mismap, and extreme rage, hahah, jk, I decided to removed all enderio conduit bundles, meaning all cables in a 100 block radius using a command to make sure they we all gone, and the system seemingly no longer remaps anything on a restart. The only conduits that were still touching the inventory cables were power and redstone. So, something is broken and funky with enderio and

[2020-09-09 21:43] desagas commented on #55
With every single enderio thing in my world removed, I am still getting remapping issues. And, this time, it is happening randomly, which I assume is a result of removing selected inventories or adding them to the inventory cables. It happens without a restart or reloading chunks. It is clear that something in the code is either preventing the data from storing absolute position values, which caus

[2020-09-10 09:09] desagas commented on #55
It case it helps: all of my remaps are syncing backwards, or close to the manager by 1 position in the array, when it happens, and it is pretty common for the remaps to fall on the exact same cable, but a different side, as I have 4 sides of each cable with an inventory.

[2020-09-11 11:57] algul opened #64 "Duping when using input/output amount limiting"
I can't reproduce this reliably, but it happens a lot. Most often when moving items from inventory and limiting the amount of destination inventory. Sometime SFM can't put stuff into the destination inventory so it tries to put it back, but now it can't (because something else filled the slot for example) so it will start duping by either throwing stacks upon stack on the ground or putting it back

[2020-09-11 15:32] BlueAgent commented on #55
Alright, finally found some time to come back and revisit this. Was having a bunch of trouble getting Ender Core to not crash in dev (one if the libraries Ender IO depends on). But sorted out the issue after revisiting it this evening. (Needed to get the libraries packaged within Ender Core, the maven Ender Core does not seem to include them as dependencies).

Also, tested the fluid conduit shift

[2020-09-12 22:46] desagas commented on #55
Sorry for the delay. I will try to download and install the mods and see if it is present with just both of them installed. As for the debug code, that would be perfect, as then I could see exactly what is changing and when it changes. As in, if I break a cable, or add an inventory or remove one. Thank you. Very much appreciated.

And, yes, the bug with enderio absolutely existed before hand. I te

[2020-09-14 07:04] desagas commented on #55
Any comment from @TeamDman on the random remapping happening when adding or removing selected inventories on inventory cables, or adding cables, without restarts, and the touching enderio fluid conduits, etc? Is there anything I can do to help solve this? As it stands right now, this mod is unusable in its current state when interacting with multiple mods and having big setups. @BlueAgent Having a

[2020-09-14 11:58] BlueAgent commented on #55
@desagas I have looked into this a bit more but kinda stuck as to what to do.

What's going on is Ender IO exposes a fluid handler capability, but only on the server side. On the clientside it does not expose said capability.... SFM assumes that the capabilities exposed by tiles match up on both sides.

So a proper fix would be, I suppose, to synchronize the inventory / connection data to the clie

[2020-09-14 18:56] desagas commented on #55
Perfect. Thanks for the response.

The server side is all I worry about, as client side doesn’t really matter very much to me. Ultimately, if resources are moving properly, what the client side tells me doesn’t affect my game play, that is until I try to change the settings. But, when maps get shifted, it causes everything to shut down, depending. Even if we can’t find a coded fix for it, perhaps

[2020-09-14 19:38] TeamDman commented on #55
The 1.12 version of the mod is a port of a port of the original VSWE one. Personally, I have only had to deal with the code that executes the flowchart, I haven't had the _pleasure_ of touching the the code that handles registering inventories or whatever else happens when cables are placed/broken.

From what I can tell, the main part of the issue has been addressed, and an edge case with EnderIO

[2020-09-14 19:48] desagas commented on #55
Understandable, an old release, other new things happening, I understand. There are other mismappings happing, however, aside from enderio and the fixed one, that is why I asked for the debug option. I am hoping to look into it, and share as much as possible, even if at least I know just what to avoid, without having to fix anything in code. As 1.12 packs are still very popular, at least I can inf

[2020-09-20 17:46] TeamDman commented on #55
https://www.curseforge.com/minecraft/mc-mods/super-factory-manager/files/3061425

Alpha build with an attempted fix from BlueAgent

It will let the manager identify inventories more aggressively, hopefully fixing issues where the client does/doesn't recognize certain tiles causing a desync.

[2020-09-21 07:29] desagas commented on #55
@TeamDman, the link does not work.

[2020-09-21 18:52] TeamDman commented on #55
![image](https://user-images.githubusercontent.com/9356891/93808503-14690e80-fc1a-11ea-9409-8d076ac51fb6.png)
I am able to load the page while signed out in a private window, maybe try refreshing with Ctrl+F5 / Shift+F5 depending on your browser

[2020-11-27 11:58] KASEYLINDS opened #66 "Machine manager moving wrong quantities of items"
I've run into a problem that when trying to automate the assembly of Gregtech tiny piles of dust using the factory manager. I have a buffer inventory that all the tiny piles fill into. I have command sequence "when chest contains (tiny pile) ' item name' specific quantity 9)---- move (tiny pile) ' item name' specific quantity 9) into packager. OR, into adjacent chest, then pipe them into the packa

[2021-03-21 16:18] zjuwyz opened #67 "Ouput(F) set to whitlist specified amount mode fails to block further fluid transmission"
Mod version: SFM 2.0.24 with FBTI
Step to reproduce
1. build a sfm network with any water tank as input and any block with a fluid slot (i.e., input hatch) from gregtech as output.
2. set output(F) to whitelist mode, use water with 1B specified amount.
3. 1B of water is transfered each time sfm is triggered, without checking the amount of water of the output side.

Froster from industrial foregoin

[2021-03-21 23:06] TeamDman commented on #67
Fluid interfaces that only accept fluid but cannot be withdrawn from will likely show as being empty to SFM.
In future will maybe try and have custom mod support to peek inside the hidden inventories for conditionals to work closer to expectations

[2021-03-22 15:47] zjuwyz commented on #67
Thank you for your reply.  @TeamDman

I tried some other methods to interact between sfm and gregtech machines, and the result is getting weird...

1. Input fluid slot is not working well with whitlist specified amount, as described above.
2. However, condition(F) works just fine with input fluid slot, and so does output(F) advanced mode, indicating that sfm is technically accessible to the input

[2021-05-30 23:06] sei-mwd opened #68 "Split does not appear to be functioning correctly"
Create a simple experiment: one manager, a redstone receiver, three chests, and a button.

Designate one chest as an input and the other two chests as outputs.  Connect the redstone receiver to the manager, and put a button on the receiver.  Connect a redstone trigger (high) from the receiver to the input, the input to a flow in split-2 mode, and each output of the flow to one of the output chests

[2021-06-07 01:43] sei-mwd commented on #68
I've concluded what causes this.  If you look at `splitFlow` in `CommandExecutor`, you find that at the split it calculates the number of valid outputs and puts that in `amount`.  Then it loops over the output connections and creates a divided `ItemBufferElement` using `element.getSplitElement`, then uses that as the `itemBuffer` in a new `CommandExecutor`, which it runs on the connection from tha

[2021-06-20 00:28] TeamDman commented on #68
Fixed in #69
Thanks for the help!
Latest build will be available [here](https://www.curseforge.com/minecraft/mc-mods/super-factory-manager/files/3357967) once approved

[2021-06-20 00:28] #68 closed, assigned to nobody

[2021-06-20 00:51] md5i commented on #68
Great!  I'll see if I can't track down the periodic "every selected inventory is shifted by one" problem I keep on encountering.

[2021-10-15 00:32] jmoiron commented on #64
I think this is the same issue as #43

[2021-12-30 16:48] jeremiahwinsley opened #70 "Diamond block generator"
Currently this works as a diamond block generator on 1.18. I assume that's just testing code that got left in accidentally.

https://github.com/TeamDman/SuperFactoryManager/blob/813e9aa8fdeed29d1760e5904232b48b78899f3d/src/main/java/ca/teamdman/sfm/common/blockentity/ManagerBlockEntity.java#L62

[2021-12-31 06:16] #43 closed, assigned to TeamDman

[2021-12-31 06:16] TeamDman commented on #70
Correct, fixed in d70738994d9715e234c19fc2767aa41037fa507e and a new build is available on CurseForge
Thank you!

[2021-12-31 06:16] #70 closed, assigned to nobody

[2021-12-31 06:18] TeamDman commented on #45
Closing since focusing on rewrite

[2021-12-31 06:18] #45 closed, assigned to TeamDman

[2021-12-31 06:18] TeamDman commented on #47
Closing since focusing on new version (full rewrite)

[2021-12-31 06:18] #47 closed, assigned to TeamDman

[2021-12-31 06:19] TeamDman commented on #49
Closing since focusing on new version (full rewrite)

[2021-12-31 06:19] #49 closed, assigned to TeamDman

[2021-12-31 06:19] TeamDman commented on #50
Closing since focusing on new version (full rewrite)

[2021-12-31 06:19] #50 closed, assigned to nobody

[2021-12-31 06:19] TeamDman commented on #58
Closing since focusing on new version (full rewrite)

[2021-12-31 06:19] #58 closed, assigned to TeamDman

[2021-12-31 06:19] TeamDman commented on #59
Closing since focusing on new version (full rewrite)

[2021-12-31 06:19] #59 closed, assigned to TeamDman

[2021-12-31 06:19] TeamDman commented on #60
Closing since focusing on new version (full rewrite)

[2021-12-31 06:19] #60 closed, assigned to nobody

[2021-12-31 06:20] TeamDman commented on #57
Closing since focusing on new version (full rewrite)

[2021-12-31 06:20] #57 closed, assigned to nobody

[2021-12-31 06:20] TeamDman commented on #52
Closing since focusing on new version (full rewrite)

[2021-12-31 06:20] #52 closed, assigned to nobody

[2021-12-31 06:20] TeamDman commented on #61
Closing since focusing on new version (full rewrite)

[2021-12-31 06:20] #61 closed, assigned to nobody

[2021-12-31 06:20] TeamDman commented on #54
Closing since focusing on new version (full rewrite)

[2021-12-31 06:20] #54 closed, assigned to nobody

[2021-12-31 06:21] TeamDman commented on #54
New recipe actually gives 16 I think which might be a bit overtuned, will have to revisit later

[2021-12-31 06:21] TeamDman commented on #51
Closing since focusing on new version (full rewrite)

[2021-12-31 06:21] #51 closed, assigned to nobody

[2021-12-31 06:21] TeamDman commented on #46
Closing since focusing on new version (full rewrite)

[2021-12-31 06:21] #46 closed, assigned to TeamDman

[2021-12-31 06:22] TeamDman commented on #55
Closing since focusing on new version (full rewrite)

[2021-12-31 06:22] #55 closed, assigned to nobody

[2021-12-31 06:22] TeamDman commented on #66
Closing since focusing on new version (full rewrite)

[2021-12-31 06:22] #66 closed, assigned to nobody

[2021-12-31 06:22] TeamDman commented on #67
Closing since focusing on new version (full rewrite)

[2021-12-31 06:22] #67 closed, assigned to nobody

[2021-12-31 06:22] TeamDman commented on #64
Closing since focusing on new version (full rewrite)

[2021-12-31 06:22] #64 closed, assigned to nobody

[2022-01-31 00:55] vRazzzy opened #71 "Mod crashes running on dedicated server"
Description: Mod loading error has occurred

java.lang.Exception: Mod Loading has failed
	at net.minecraftforge.logging.CrashReportExtender.dumpModLoadingCrashReport(CrashReportExtender.java:69) ~[forge-1.18.1-39.0.63-universal.jar%23113!/:?] {re:classloading}
	at net.minecraftforge.server.loading.ServerModLoader.load(ServerModLoader.java:53) ~[forge-1.18.1-39.0.63-universal.jar%23113!/:?] {re:cla

[2022-02-02 03:50] #71 closed, assigned to TeamDman

[2022-02-02 03:51] TeamDman commented on #71
Thanks for the report!
New build should be approved soon
https://www.curseforge.com/minecraft/mc-mods/super-factory-manager/files/3633646

[2022-02-02 04:35] TeamDman commented on #71
That file was accidentally marked as 1.16 instead of 1.18 in the curseforge metadata. Should be fixed now

[2022-05-27 02:06] TeamDman opened #72 "Keywords messing up item identifiers"
[code]

![image](https://user-images.githubusercontent.com/9356891/170614272-56951133-cf57-4ecb-82a8-7179aa15cda4.png)

[2022-05-27 02:07] TeamDman opened #73 "Allow copying error messages"
Make sharing error codes easier, add a button to copy debug info including the full script and any errors and all labels

[2022-05-27 06:28] TeamDman commented on #73
Included in 4.1.0

[2022-05-27 06:28] #73 closed, assigned to nobody

[2022-05-27 06:29] TeamDman commented on #73
d442f18e58e1f21ed9589f2510bd9ac679f529f6

[2022-05-27 06:33] TeamDman commented on #72
fixed in 1d9b1390065604e2bd3eae4f5a5e491763bc11ea
fix available on v4.1.0  [curseforge](https://www.curseforge.com/minecraft/mc-mods/super-factory-manager/files/3806558)
see [updated example](https://github.com/TeamDman/SuperFactoryManager/blob/1.18/examples/01-moveitems.sfm) on filtering for redstone; tldr is to surround the item identifier with double quotes if it is conflicting with a keyword

[2022-05-27 06:33] #72 closed, assigned to nobody

[2022-06-01 01:03] TeamDman opened #74 "Manager doesn't drop disk on break"
bruh

[2022-06-01 01:13] TeamDman opened #75 "Blocks not registered to correct tool"
Pickaxe should break manager and cables faster

[2022-06-01 02:13] #74 closed, assigned to TeamDman

[2022-06-01 02:23] #75 closed, assigned to TeamDman

[2022-06-20 21:40] phit opened #76 "Crash using Redstone Trigger"
not sure if this is supposed to be implemented yet

https://gist.github.com/phit/a0a6cab5b3924ab23a4155c09afbef51

[2022-06-21 04:03] TeamDman commented on #76
Not implemented yet, but crashing is also very not-good. I'll look into it.
Thanks for the heads up!

[2022-06-22 00:47] TeamDman commented on #76
I implemented a basic version of redstone trigger and conditional logic.
The original SFM had a separate block that could be used, but for now this should be good. Apply signal to manager block as you would a dispenser.
https://www.curseforge.com/minecraft/mc-mods/super-factory-manager/files/3843281

see https://github.com/TeamDman/SuperFactoryManager/blob/1.19/examples/07-redstone.sfm for example

[2022-06-22 00:47] #76 closed, assigned to nobody

[2022-06-22 07:20] phit commented on #76
very nice, thank you! will check it out soon

[2022-06-27 09:45] closet-raccoon commented on #76
Hey can you fix this in 1.18.2 as well? It causes the region to be corrupted, and I would love to use redstone triggers.

[2022-06-27 18:45] TeamDman commented on #76
There's a forge option to remove erroring entities that can help in the mean time, I'll see how hard it is to backport when I have time

https://www.reddit.com/r/feedthebeast/comments/4813rh/removing_erroring_tile_entities/d0grah6/

[2022-08-18 03:28] TeamDman opened #77 "Allow strings where labels are used"
unicode support on labels? if nonalphanumeric or has spaces allow quoting the label